// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$sans: "alright_sans_lightregular", sans-serif;
$serif: "alright_sans_lightregular", sans-serif;
//$mono: "Courier", monospace;
$heading-font-family: "alright_sans_boldregular", Helvetica, Arial, sans-serif !default;
//$header-title-font-family: "Futura", sans-serif;
//$header-subtitle-font-family: "Futura", sans-serif;



//This particular @font-face rule is documented at the following two sites
//http://css-tricks.com/snippets/css/using-font-face/
//http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
@font-face {
    font-family: 'alright_sans_boldregular';
    src: font-url('alrightsans-bold-v3-webfont.eot');
    src: font-url('alrightsans-bold-v3-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('alrightsans-bold-v3-webfont.woff') format('woff'),
         font-url('alrightsans-bold-v3-webfont.ttf') format('truetype'),
         font-url('alrightsans-bold-v3-webfont.svg') format('svg');
}

@font-face {
    font-family: 'alright_sans_lightregular';
    src: font-url('alrightsans-light-v3-webfont.eot');
    src: font-url('alrightsans-light-v3-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('alrightsans-light-v3-webfont.woff') format('woff'),
         font-url('alrightsans-light-v3-webfont.ttf') format('truetype'),
         font-url('alrightsans-light-v3-webfont.svg') format('svg');
}

@font-face {
    font-family: 'alright_sans_mediumregular';
    src: font-url('alrightsans-medium-v3-webfont.eot');
    src: font-url('alrightsans-medium-v3-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('alrightsans-medium-v3-webfont.woff') format('woff'),
         font-url('alrightsans-medium-v3-webfont.ttf') format('truetype'),
         font-url('alrightsans-medium-v3-webfont.svg') format('svg');
}

@font-face {
    font-family: 'alright_sans_regularregular';
    src: font-url('alrightsans-regular-v3-webfont.eot');
    src: font-url('alrightsans-regular-v3-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('alrightsans-regular-v3-webfont.woff') format('woff'),
         font-url('alrightsans-regular-v3-webfont.ttf') format('truetype'),
         font-url('alrightsans-regular-v3-webfont.svg') format('svg');
}

@font-face {
    font-family: 'alright_sans_regular_italicIt';
    src: font-url('alrightsans-regularitalic-v3-webfont.eot');
    src: font-url('alrightsans-regularitalic-v3-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('alrightsans-regularitalic-v3-webfont.woff') format('woff'),
         font-url('alrightsans-regularitalic-v3-webfont.ttf') format('truetype'),
         font-url('alrightsans-regularitalic-v3-webfont.svg') format('svg');
}
